.body{
    margin: 0%;
    padding: 0%;
}

.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: aqua;
}

.header{
    background-color: black;
    color: white;
    padding: 0.3rem;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.input-container{
    width: 100vw;
    height: 300px;
    font-size: 17px;
}

